:root {
  /* COLORS */
  --color-white: #fff;
  --color-text: #28253a;
  --color-inputs: #f8f8f8;
  --color-button-green: #45a484;
  --color-blue: #272f77;
  --color-button-button-accent: #272f77;
  --color-text-gray: #4b4b4b;
  --color-text-indigo: #402483;
  --color-text-blue---blue: #808897;
  --color-text-light-gray: #bfbfbf;
  --color-text-purple-blue: #28253a;
  --color-lang: #4b4b4b;
  --text-light-gray: #bfbfbf;


  /* THEME */
  --color-base-weak: #fff;
  /* accent  */
  --gradient-accent: linear-gradient(141deg, #272f77 0%, #27307e 50%, #4e5fae 100%);
  /* FONT */
  --font-inter: "Inter", "inter-fallback-font";
  --font-size: 20px;

  /* page layout width & indents */
  --layout-content-max-width: 1280px;
  --layout-side-max-width: calc(
    (100vw - var(--layout-content-max-width)) / 2
  );
  --layout-side-min-width: min(5vw, 80px);
  --layout-side-width: max(
    var(--layout-side-max-width),
    var(--layout-side-min-width)
  );


}

@font-face {font-family: "inter-fallback-font"; ascent-override: 95%; descent-override: 24%; src: local("Arial"), local("sans-serif");}
body,html{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;height:100%;min-height:100%;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:none;color:var(--color-text);}
footer,header,img,label,menu,nav,object,p,section,span,strong,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
html{font-size: var(--font-size);zoom:1;touch-action:pan-x pan-y;}
body{line-height:1;margin:0 auto;background-color:var(--color-white);font-family:var(--font-inter);user-select:none;flex-direction:column;min-height:100vh;display:flex;padding: 0 var(--layout-side-width);letter-spacing: 0.02em; position: relative;}
footer,header,nav,section{display:block}
a,h2,h3,hr,ol,sub,sup,td,ul{border:0;padding:0}
a,a:active{outline:0;text-decoration:none;color:var(--color-blue);}
a{vertical-align:baseline}
a:active{font-weight:normal;}
a:hover{text-decoration:none;}
a:visited{color:var(--color-blue);}
footer a:visited{color:var(--color-white);}
a,nav ul,ol,ul{margin:0}
button,input[type=button],input[type=password],input[type=submit],label{cursor:pointer;-webkit-appearance:none;appearance:none}
button{width:auto;overflow:visible}
img{height:auto;max-width:100%;}
button:active,button:focus,input[type=button],input[type=password],input[type=text],textarea{outline:0}
button::-moz-focus-inner{border:0}

header {align-items: center; display: flex; padding: 16px var(--layout-side-width); column-gap: 16px; border-bottom: 1px solid #bfbfbf; width: calc(100% + 2 * var(--layout-side-width)); margin-left: calc(-1 * var(--layout-side-width)); box-sizing: border-box;}
.header__logo-link {margin-right: auto; display: flex; align-items: center; column-gap: 6px;}
.header__button {cursor: pointer; text-transform: uppercase; border: none; border-radius: 4px; align-items: center; padding: 12px 16px; font-size: 16px; font-weight: 600; line-height: 1; text-decoration: none; display: flex; column-gap: 8px; transition: 0.2s;}
.header__buttons {display: none;}
.header__burger {cursor: pointer; opacity: 0.8; transition: 0.2s;}
.header__burger:hover { opacity: 1;}
.header__burger svg path {fill: #272f77;}
.header-white { border-bottom: 1px solid transparent; padding: 16px 0; width: 100%; margin-left: 0px;}
.header-white .header__logo-link {color: #fff;}
.header-white .header__burger svg path {fill: #fff;}
.background-image-wrapper { z-index: -1; height: 100vh; position: absolute; top: 0px; left: 0px; right: 0px; overflow: hidden;}
.body-background-image { object-fit: cover; clip-path: ellipse(90% max(175px, min(36vw, 455px)) at 50% 0%); width: calc(100vw + 120px); object-position: 30px calc(-1 * 25vw); position: absolute; left: 50%; transform: scale(1) translate(-50%);}

.header__logo-link svg {--width: 44px; --height: auto; width: var(--width); height: var(--height); aspect-ratio: 44 / 48;}
.header__logo-link svg.header-white-logo path {fill: #fff;}
.header__logo-link span {--logo-font-size: 12px; font-size: var(--logo-font-size); font-weight: 600; letter-spacing: 0.2px; color: var(--color-blue);}
.header__logo-link span.header-white-logo {color: #fff;}

.header__language {display: flex; align-items: center; cursor: pointer; border: none; border-radius: 4px; padding: 11px; color: var(--color-lang); column-gap: 4px; background: #fff; box-shadow: 0px 1px 8px 0px #00000040; font-family: var(--font-inter); font-weight: 400; font-size: 16px; min-width: 70px; justify-content: center;}
.header__container_language {position: relative;}
.header__language_list {position: absolute; border-top: 8px solid transparent; width: 100%; transition: opacity linear 0.2s; visibility: hidden; height: 0px; opacity: 0;}
.header__language_list div {border-radius: 5px; box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25); background: var(--color-white); color: var(--color-lang); text-align: center; padding: 5px 0; width: 100%; font-size: 16px;}
.header__language_list div span {cursor: pointer; display: block; margin-bottom: 8px; transition: 0.2s;}
.header__language_list div span:hover {color: var(--color-text);}
.header__language_list div span:last-child {margin-bottom: 0px;}
.header__container_language.open .header__language_list {visibility: visible; height: auto; opacity: 1;}
.simpleview .header__language {border: 1px solid rgba(0, 0, 0, 0.85); border-radius: 5px; box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25); width: 67px; padding: 3px 0; font-size: 16px;}

.header__menu {display: flex; position: fixed; left: 100%; top: 0; min-height: 100vh; background: var(--color-white); box-sizing: border-box; flex-direction: column; justify-content: space-between; z-index: 2;right: -100%; transition: left 1s, right 1s; transform: translateX(0);}
.header__menu_blocks > div,
nav,
.header__menu_buttons {padding-right: var(--layout-side-width); padding-left: var(--layout-side-width);}
.header__menu_top {padding-top: 16px; padding-bottom: 16px; border-bottom: 1px solid var(--text-light-gray); display: flex; justify-content: space-between; align-items: center;}
.header__menu_close {padding-right: 15px; cursor: pointer;}
.header__menu_actions {padding-top: 42px; padding-bottom: 42px; display: flex; justify-content: space-between; align-items: center;}
.header__menu_actions_call {padding-right: 12px;}
.header__menu_buttons {padding-bottom: 48px; padding-top: 48px;}
.header__menu_buttons button {cursor: pointer; border: none; border-radius: 4px; align-items: center; font-size: 16px; line-height: 1; text-decoration: none; transition: 0.2s; color: var(--color-text-purple-blue); background: #fff; padding: 0 10px 0 0; display: flex; width: 100%; justify-content: space-between;}
.header__menu_buttons button:hover {color: var(--color-button-button-accent);}
.header__menu.open {left: 0; right: 0;}

.menu-section {display: flex; flex-direction: column; margin-bottom: 40px;}
.menu-section > div {margin-bottom: 17px;}
.menu-section .menu-item {font-size: 16px; line-height: 1; letter-spacing: 0.2px; color: var(--color-white); transition: 0.2s; border-bottom: 1px solid transparent;}
.simpleview div {padding: 12px 0;}
.simpleview .menu-item {font-size: 16px; line-height: 1.4; letter-spacing: 0.2px; color: var(--color-text); transition: 0.2s;}
.simpleview .menu-item:hover {color: var(--color-blue);}
.menu-section .menu-item:hover {border-bottom: 1px solid #fff;}
.menu-section > div:last-child {margin-bottom: 0px;}

footer { background: var(--color-blue); margin: auto calc(-1 * var(--layout-side-width)) 0; flex-direction: column; justify-content: center; align-items: center; padding: 40px var(--layout-side-width) 24px; font-size: 16px; line-height: 1.2; display: flex; color: var(--color-white);}
footer a {color: var(--color-white);}
.foot-wrapper { width: 100%; display: flex; flex-direction: column;}
.logo-section {margin-bottom: 40px;}
.logo-section a {display: flex; column-gap: 15px; font-weight: 700; font-size: 18px; line-height: 21.78px; letter-spacing: 0.2px; color: var(--color-white); align-items: center;}
.target-links {margin-bottom: 40px;}
.target-links div {margin-bottom: 24px;}
.target-links div:last-child {margin-bottom: 0px;}
.target-links a {transition: 0.2s; border-bottom: 1px solid #fff; font-size: 10px; letter-spacing: 0; line-height: 0.98;}
.soc-links {margin-bottom: 40px;}
.soc-links a {margin-right: 13px; opacity: 0.8; transition: 0.2s;}
.soc-links a:last-child {margin-right: 0px;}
.soc-links a:hover {opacity: 1;}
.target-links a:hover {border-bottom: 1px solid transparent;}
.foot-copy {font-size: 14px; width: 100%; font-weight: 500;}

main {padding-top: 32px; padding-bottom: 116px; display: flex; flex-direction: column; gap: 32px; position: relative;}

.blue_button {font-family: var(--font-inter); border-radius: 8px; padding: 16px 32px; background: linear-gradient(141deg, #272f77 0%, #27307e 50%, #4e5fae 100%); font-weight: 700; font-size: 14px; line-height: 100%; letter-spacing: 0.01em; color: var(--color-white); border: 0px; transition: .2s;}
.blue_button:hover {background: var(--color-white); color: var(--color-button-button-accent); box-shadow: 0px 1px 8px 0px #00000040;}
.white_button {border: 1px solid var(--color-text-light-gray); border-radius: 8px; padding: 16px 32px; background: var(--color-white); font-weight: 700; font-size: 14px; line-height: 1; color: var(--color-text-light-gray); transition: .2s;}
.white_button:hover {border-color: var(--color-button-button-accent); color: var(--color-button-button-accent);}
.green_button {border-radius: 8px; padding: 16px 32px; background: var(--color-button-green); font-weight: 700; font-size: 14px;
  line-height: 1; color: var(--color-white); border: 0px;}

.breadcrumbs {width: calc(100% + var(--layout-side-width)); overflow-y: hidden; overflow-x: auto; scrollbar-width: none; display: flex; align-items: center; flex-wrap: nowrap; font-size: 12px; line-height: 160%; letter-spacing: 0.01em; gap: 4px;}
.breadcrumbs::-webkit-scrollbar { display: none; }
.breadcrumbs a {display: inline-flex; align-items: center; flex-wrap: nowrap; gap: 8px;  text-transform: uppercase; color: var(--color-text-blue---blue); text-decoration: underline; transition: .2s; white-space: nowrap;}
.breadcrumbs a:first-child {text-decoration: none;}
.breadcrumbs a:last-child {text-decoration: none; font-weight: 600; color: var(--color-text-indigo);}
.breadcrumbs a:hover {text-decoration: none;}

h1 {font-weight: 800; font-size: 20px; letter-spacing: 0.01em; color: var(--color-text);margin: 0px;}

.catalog__add .blue_button {width: 100%;}

.catalog__content {display: flex; flex-direction: column; gap: 32px;}

.catalog__tabs {width: calc(100% + var(--layout-side-width)); overflow-y: hidden; overflow-x: auto; scrollbar-width: none; display: flex; justify-content: space-between; flex-wrap: nowrap; gap: 48px; background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQ0IiBoZWlnaHQ9IjIiIHZpZXdCb3g9IjAgMCAzNDQgMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIG9wYWNpdHk9IjAuMSIgeTE9IjEiIHgyPSIxMjgwIiB5Mj0iMSIgc3Ryb2tlPSIjNEI0QjRCIiBzdHJva2Utd2lkdGg9IjIiLz4NCjwvc3ZnPg0K) repeat-x bottom left; }
.catalog__tabs::-webkit-scrollbar { display: none; }
.catalog__tabs-button {font-family: var(--font-inter); background: none; border-bottom: 2px solid transparent; border-top: 0; border-left: 0; border-right: 0;font-size: 18px; letter-spacing: 0.01em; color: var(--color-text-gray); padding:0 0 13px 0; text-align: left; white-space: nowrap; order: 1;}
.catalog__tabs-button.active {border-bottom: 2px solid var(--color-text-indigo); color: var(--color-text-indigo); font-weight: 600; order: 0;}
.catalog__tabs-button:last-child {margin-right: var(--layout-side-width);}

.base-input {border: 1px solid #d9d9d9; border-radius: 4px; padding: 0px 16px; box-sizing: border-box; font-family: var(--font-inter); font-size: 12px; letter-spacing: 0.01em; color: var(--color-text-gray); height:39px; line-height: 39px;}
.base-input::placeholder {color: rgba(0, 0, 0, 0.25);}
.catalog__search {display: flex; gap: 16px;}
.catalog__search-input {max-width: 256px; padding-right: 42px; background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNi4zNjEyNyAyLjI2NDc1QzcuNjMwNjEgMy41MzQwNiA3LjYzMDYxIDUuNTkyMDQgNi4zNjEyNyA2Ljg2MTM1QzUuMDkxOTMgOC4xMzA2NyAzLjAzMzkzIDguMTMwNjcgMS43NjQ1OSA2Ljg2MTM1QzAuNDk1MjUxIDUuNTkyMDQgMC40OTUyNTEgMy41MzQwNiAxLjc2NDU5IDIuMjY0NzVDMy4wMzM5MyAwLjk5NTQyNyA1LjA5MTkzIDAuOTk1NDI3IDYuMzYxMjcgMi4yNjQ3NVpNNy4yODY5OCA3LjAzNjE4QzguNTEyMzIgNS40NDMwMSA4LjM5NTI4IDMuMTQ5NTcgNi45MzU4NSAxLjY5MDE3QzUuMzQ5MTggMC4xMDM1MjEgMi43NzY2OCAwLjEwMzUyMSAxLjE5IDEuNjkwMTdDLTAuMzk2NjY4IDMuMjc2ODIgLTAuMzk2NjY4IDUuODQ5MjggMS4xOSA3LjQzNTkzQzIuNjQ5NDkgOC44OTUzOSA0Ljk0MzA4IDkuMDEyMzggNi41MzYyOSA3Ljc4NjkxTDguODY4MzggMTAuMjkxN0M5LjEyMDUxIDEwLjU2MjUgOS41NDY5OSAxMC41NzAxIDkuODA4NjMgMTAuMzA4NUMxMC4wNzAzIDEwLjA0NjkgMTAuMDYyNiA5LjYyMDM4IDkuNzkxODQgOS4zNjgyNkw3LjI4Njk4IDcuMDM2MThaIiBmaWxsPSIjRDlEOUQ5Ii8+DQo8L3N2Zz4NCg==) no-repeat calc(100% - 16px) center; width: calc(100% - 74px);}
.catalog__filter-button {border: 1px solid #d9d9d9; border-radius: 4px; padding: 0px 16px; box-sizing: border-box; background: var(--color-white); height:39px; display: flex; align-items: center;}
.catalog__filter-button .catalog__filter-ico {display: inline-flex;}
.catalog__filter-text, .catalog__filter-arr {display: none;}

.catalog__filter {display: flex; position: fixed; left: 100%; right:-100%; top: 81px; min-height: calc(100vh - 81px); background-color: var(--color-white); z-index: 1; padding: 32px var(--layout-side-width); display: flex; flex-direction: column; gap: 32px;transition: .5s;}
.catalog__filter.open {left: 0px; right: 0px;}
.catalog__filter-h1 {font-weight: 800; font-size: 20px;}
.catalog__filter-blocks {display: flex; flex-direction: column; gap: 8px;}
.fiter-input {height: auto; line-height: 1; padding: 16px; border-radius: 12px;width: 100%; transition: .2s; color: var(--color-text);}
.fiter-input::placeholder {color: var(--color-text-gray); opacity: 0;}
.fiter-input:focus::placeholder {color: var(--color-white);}
.fiter-input:focus::placeholder { opacity: 1;}
.catalog__filter-label {position: relative;}
.catalog__filter-label span {position: absolute; left: 16px;  top: 10px;  transition: top 0.5s; font-size: 10px; color: var(--color-text-gray);}
.fiter-input:focus+span, .fiter-input:not(:placeholder-shown)+span {top: -3px; left: 16px; }
.catalog__filter-block {position: relative;}
.filter-input-options {position: absolute; left: 0px; right: 0px; top: 51px; z-index: 1; border-radius: 16px; padding: 24px 16px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1); background: var(--color-white); display: none;}
.filter-input-option {font-size: 16px; line-height: 125%; color: var(--color-text-gray); padding: 12px 0;}
.filter-input-option b {color: var(--color-text);}
.filter-input-options.active {display: block;}

.catalog__sortlist-wrapper {position: relative;}
.catalog__sortlist-select {border: 1px solid #d9d9d9;  border-radius: 4px;  padding: 4px 12px;  width: 100%; box-sizing: border-box;
  height: 32px; display: flex; align-items: center; max-width: 420px;justify-content: space-between; cursor: pointer; font-size: 12px;
  letter-spacing: 0.01em; color: var(--color-text-gray); transition: .2s;}
.catalog__sortlist-select-options {border-radius: 16px; padding: 0px 12px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1); background: var(--color-white); width: 100%; box-sizing: border-box; font-size: 12px; display: flex; flex-direction: column; gap: 16px; height: 0px;visibility: hidden; position: absolute; top: 32px;}
.catalog__sortlist-select-options.open {margin-top: 4px; visibility: visible; height: auto; padding:24px 12px; transition: .4s; z-index: 1;}
.base-radio {position: relative; display: flex; align-items: center;}
.base-radio input[type="radio"] {appearance: none; background: #fff; border: 1px solid #E5E5E5; height: 24px; width: 24px; margin: 0 8px 0 0px; border-radius: 100%; vertical-align: text-bottom; position: relative;}
.base-radio input[type="radio"]:checked {border: 1px solid var(--color-button-button-accent); }
.base-radio input[type="radio"]::before {content: ""; position: absolute; margin: auto; left: 0; right: 0; bottom: 0; overflow: hidden; top: 0;}
.base-radio input[type="radio"]:checked::before {border: 6px solid transparent; border-radius: 100%; background: var(--color-button-button-accent); margin: 4px;}
.base-radio input[type="radio"]:checked+span {color: var(--color-button-button-accent);}
.catalog__sortlist-select.active {border-color: var(--color-text);}
.catalog__sortlist-select.active svg {transform: rotate(180deg);}

.catalog__list {margin-top: -16px;}
.catalog__list-items {display:grid;grid-template-columns: repeat(2, calc(50% - 4px));gap: 8px;}

.productCard {padding: 16px; display: flex; flex-direction: column; justify-content: space-between; border-radius: 25px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1); letter-spacing: 0.01em; gap: 16px; position: relative;}
.productCard-media {text-align: center; width: 100%; max-height: 106px;}
.productCard-name {font-size: 12px; margin-bottom: 8px;}
.productCard-price {font-weight: 600; font-size: 18px; margin-bottom: 8px;}
.productCard-date {font-size: 14px; color: var(--color-text-blue---blue); margin-bottom: 16px;}
.productCard-order-button {padding: 16px 0; width: 100%;}
.productCard-edit {position: absolute; display: inline-flex; align-items: center; gap: 8px; padding: 12px; font-size: 12px; color: var(--color-button-button-accent); border-radius: 5px; box-shadow: 0 0 15px 1px rgba(97, 95, 251, 0.19); background: var(--color-white); border: 0px; right: -8px; bottom: -36px;}

.page__scrollUp {position: absolute; bottom: 32px; right: 0px;z-index: 1000; border: 0px; background: none;}

.product__content-date {font-size: 20px; color: var(--color-text-blue---blue); margin-bottom: 32px;}
.product__content-info {display: flex; flex-direction: column; gap: 32px;}
.product__content-media {padding: 0px 12px; height: 330px; display: flex; align-items: center; justify-content: center;}
.product__content-media img {max-height: 330px;}
.product__content-descr {display: flex; flex-direction: column; gap: 32px; color: var(--color-text-indigo); font-size: 16px; line-height: 1.4;}
.product__content-descr p {margin-bottom: 18px;}
.gray-zag {font-weight: 600; font-size: 18px; color: var(--color-text-blue---blue); margin-bottom: 18px;}
.product-price {font-weight: 600; font-size: 18px; }
.product-price .gray-zag {font-weight: 400; font-size: 16px; margin-bottom: 8px;}
p.product-text-big {font-size: 20px;}
.product__content-descr ul, .product__content-descr li {margin-left: 12px;}
.product-actions {display: flex; flex-direction: row; flex-wrap: wrap; column-gap: 16px; row-gap: 8px;}
.share_button {background: var(--color-white); border: 0px; order: 1;}
.share_button span {display: none;}
.product-button-write {width: 100%; order: 2;}
.product-button-send {width: calc(100% - 48px); order: 0;}

.hystmodal__window {padding: 0 var(--layout-side-width); width: calc(100% - 2 * var(--layout-side-width)); border-radius: 16px;
  padding: 32px 16px; box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.25); background: var(--color-white); max-width:602px;}
.hystmodal__close { top: 34px; right: 16px; width: 20px; height: 20px; background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC40ODgxNTUgMC40ODgxNTVDMS4xMzkwMyAtMC4xNjI3MTggMi4xOTQzIC0wLjE2MjcxOCAyLjg0NTE4IDAuNDg4MTU1TDEwIDcuNjQyOThMMTcuMTU0OCAwLjQ4ODE1NUMxNy44MDU3IC0wLjE2MjcxOCAxOC44NjEgLTAuMTYyNzE4IDE5LjUxMTggMC40ODgxNTVDMjAuMTYyNyAxLjEzOTAzIDIwLjE2MjcgMi4xOTQzIDE5LjUxMTggMi44NDUxOEwxMi4zNTcgMTBMMTkuNTExOCAxNy4xNTQ4QzIwLjE2MjcgMTcuODA1NyAyMC4xNjI3IDE4Ljg2MSAxOS41MTE4IDE5LjUxMThDMTguODYxIDIwLjE2MjcgMTcuODA1NyAyMC4xNjI3IDE3LjE1NDggMTkuNTExOEwxMCAxMi4zNTdMMi44NDUxOCAxOS41MTE4QzIuMTk0MyAyMC4xNjI3IDEuMTM5MDMgMjAuMTYyNyAwLjQ4ODE1NSAxOS41MTE4Qy0wLjE2MjcxOCAxOC44NjEgLTAuMTYyNzE4IDE3LjgwNTcgMC40ODgxNTUgMTcuMTU0OEw3LjY0Mjk4IDEwTDAuNDg4MTU1IDIuODQ1MThDLTAuMTYyNzE4IDIuMTk0MyAtMC4xNjI3MTggMS4xMzkwMyAwLjQ4ODE1NSAwLjQ4ODE1NVoiIGZpbGw9IiNCRkJGQkYiLz4NCjwvc3ZnPg0K)}
.hystmodal__close:focus {outline: none;}
.modal-form-title {font-weight: 600; font-size: 18px; line-height: 1.2; color: var(--color-text); margin-bottom: 16px;}
.modal-form-descr {font-size: 16px; line-height: 1.4; color: var(--color-text-gray); margin-bottom: 16px;}
.modal-form-inputs {display: flex; gap: 16px; flex-direction: column; margin-bottom: 16px;}
.form-input {border-radius: 8px; padding: 0 16px; background: var(--color-inputs); font-family: var(--font-inter); font-size: 16px; line-height: 54px; color: var(--color-text); border: 0px; width: 100%; height: 54px; box-sizing: border-box;}
.form-textarea {min-height: 121px; resize: vertical;border-radius: 8px; padding: 16px; background: var(--color-inputs); font-family: var(--font-inter); font-size: 16px; line-height: 1.4; color: var(--color-text); border: 0px; width: 100%; box-sizing: border-box;}
.modal-form-actions {display: flex;justify-content:space-between; gap:8px;}
.modal-form-actions button {flex-grow: 1;}
.form-row {position: relative;}
.form-row .form-row-placeholder { position: absolute; left: 16px; top: 13px; transition: top 0.5s; font-size: 12px; color: var(--color-text-light-gray);} 
.form-input:focus+.form-row-placeholder, input:not(:placeholder-shown)+.form-row-placeholder {top: 4px;}
.form-input::placeholder {opacity: 0;}
.form-input:focus::placeholder {opacity: 0;}
.form-textarea+.form-row-placeholder {width: calc(100% - 32px); background-color: var(--color-inputs);top: 0px; padding-top: 6px;}
.modal-form-back .green_button {width: 100%;}
.modal-form-sended {display: none;}

.page__descr {font-size: 16px; line-height: 1.4;}
.form-item {border-top: 1px solid #28253a30;}
fieldset {padding: 32px 0; border: 0px; display: flex; flex-direction: column; gap: 24px;max-width: 431px;}
.form-label {font-weight: 600; font-size: 18px; margin-bottom: 12px; display: block;}
fieldset .form-row .form-input::placeholder {opacity: 1;}
.form-radio {display: inline-flex; align-items: center; margin-right: 13px; font-weight: 400; margin-bottom: 0px;}
.form-radio span {font-size: 16px; color: var(--color-button-button-accent);}
.descr-textarea {min-height: 102px;}
.options-textarea {min-height: 76px; margin-bottom: 24px;}
.form-add-option-button {display: flex; align-items: center; gap: 8px; width: 100%; justify-content: center; padding: 12px 0;}
.form-actions {padding-top: 16px; border-top: 1px solid #28253a30;} 
.form-actions-wrapper {max-width: 431px; display: flex; flex-direction: column; gap: 16px; }
.form-submitbutton, .form-cancelbutton {text-transform: uppercase;}
.custom-file-upload {display: inline-flex; padding: 11px 0; cursor: pointer; align-items: center; gap: 4px; font-weight: 600;
  font-size: 18px; color: var(--color-button-button-accent);}
.form-select-wrapper {
  width: 100%;
  position: relative;
  height: 56px;
  color: var(--color-text);
  background: var(--color-inputs);
  border: 0px;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  z-index: 0;
}
.form-select {width: 100%; height: 56px; background: transparent; border: 0; appearance: none; -moz-appearance: none; -webkit-appearance: none; z-index: 1; font-family: var(--font-inter); font-size: 16px; margin-top: -16px;}
.form-select:active, .form-select:focus {outline:none;}
.form-select::-ms-expand {display: none;}
.form-select-arrow {position: absolute; z-index: -1; right: 16px; top: 18px;  width: 24px; height: 24px; background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24106 7.7459C4.53326 7.44784 4.99051 7.42074 5.31272 7.66461L5.40503 7.7459L12 14.4734L18.595 7.7459C18.8872 7.44784 19.3444 7.42074 19.6666 7.66461L19.7589 7.7459C20.0511 8.04396 20.0777 8.51037 19.8386 8.83904L19.7589 8.93321L12.582 16.2541C12.2898 16.5522 11.8325 16.5793 11.5103 16.3354L11.418 16.2541L4.24106 8.93321C3.91965 8.60534 3.91965 8.07376 4.24106 7.7459Z' fill='%23200E32'/%3E%3C/svg%3E") no-repeat center center;}

@media only screen and (min-width: 768px) {
  .header__buttons {display: flex; flex-wrap: nowrap; align-items: center; justify-content: flex-end; column-gap: 16px; max-width: 180px;}
  .header__logo-link { column-gap: 8px;}
  .header__button_reg svg path { fill: #fff;}
  .header__button_blue { color: #272f77; background: #fff; box-shadow: 0px 1px 8px 0px #00000040;}
  .header__button_white { color: #fff; background: linear-gradient(95.35deg,#272f77 2.01%,#27307e 51.87%,#4e5fae 101.74%); box-shadow: 0px 1px 8px 0px #00000040;}
  .header__button_blue:hover {color: #fff; background: linear-gradient(95.35deg,#272f77 2.01%,#27307e 51.87%,#4e5fae 101.74%);box-shadow: 0px 1px 8px 0px #00000040;}
  .header__button_white:hover {color: #272f77; background: #fff; box-shadow: 0px 1px 8px 0px #00000040;}
  .header__button_reg:hover svg path {fill: #272f77;}
  .header-white .header__button_sign-in { color: #fff; background: linear-gradient(95.35deg,#272f77 2.01%,#27307e 51.87%,#4e5fae 101.74%);}
  .header-white .header__button_white {color: #272f77; background: #fff;}
  .header-white .header__button_reg svg path {fill: #272f77;}
  .header-white .header__button_blue:hover {color: #272f77; background: #fff; box-shadow: 0px 1px 8px 0px #00000040;}
  .header-white .header__button_white:hover {color: #fff; background: linear-gradient(95.35deg,#272f77 2.01%,#27307e 51.87%,#4e5fae 101.74%); box-shadow: 0px 1px 8px 0px #00000040;}
  .header-white .header__button_reg:hover svg path { fill: #fff;}
  .header__burger {margin-top: 0px;}

  .header__menu_close:hover svg {transform: rotate(180deg); transition: all 0.3s;}
  .header__menu_actions_call:hover svg {animation: call 0.2s infinite;}
  @keyframes call {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
  }

  footer {padding-top: 50px; padding-bottom: 57px;}
  .logo-section a {flex-direction: column; align-items: flex-start;}
  .logo-section svg {width: 58px; height: auto; margin-bottom: 10px;}
  .logo-section span {font-size: 18px;}
  .foot-wrapper {flex-direction: row; justify-content: stretch;}
  .logo-section {width: 30%;}
  .foot-menu {width: 30%; margin-top: 73px;}
  .foot-links {width: 40%; display: flex; flex-direction: column; justify-content: space-between;}
  .target-links div {margin-bottom: 20px;}
  .target-links a {font-size: 14px;}
  .soc-links {text-align: right; margin-top: 18px;}
  .foot-copy {font-size: 16px;}

  main {padding: 52px 0 120px; gap: inherit;}

  .breadcrumbs {width: 100%; flex-wrap: wrap;margin-bottom: 21px;}

  h1 {font-weight: 700; font-size: 48px; margin-bottom: 60px;}

  .catalog__add {position: absolute; right: 0px; top: 90px;}
  .catalog__add .blue_button {width: auto;}

  .blue_button, .green_button {padding: 21px; font-size: 16px; text-transform: uppercase;}
  .white_button {padding: 21px; font-size: 16px; text-transform: uppercase; color: var(--color-text-indigo);}

  .catalog__content {gap: inherit;}

  .catalog__tabs {width: 100%; margin-bottom: 32px;}
  .catalog__tabs-button.active {order: 1;}
  .catalog__tabs-button:last-child {margin-right: 0px;}
  .catalog__tabs-button:hover {border-bottom: 2px solid var(--color-text-indigo); color: var(--color-text-indigo);}

  .catalog__search {margin-bottom: 28px;}
  .catalog__filter-button {gap: 6px; transition: .2s;}
  .catalog__filter-button.active {border: 1px solid var(--color-text);}
  .catalog__filter-button.active .catalog__filter-arr {transform: rotate(180deg);}
  .catalog__filter-text, .catalog__filter-arr {display: inline-block;}
  .catalog__filter-text {font-size: 12px; color: var(--color-text-gray);}
  .catalog__filter-ico {width: 10px;}

  .catalog__filter {position: relative; left: auto; top: auto; right: auto; min-height: auto; padding: 0px; border-radius: 12px; box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1); background: var(--color-white); height: 0px; visibility: hidden; opacity: 0; transition: height .5s, opacity .5s;}
  .catalog__filter.open {padding: 16px 24px; margin-bottom: 48px; height: auto; visibility: visible; opacity: 1;}
  .catalog__filter-back, .catalog__filter-h1 {display: none;}
  .catalog__filter-blocks {flex-direction: row; flex-wrap: wrap; gap: 20px;}
  .catalog__filter-block {width: calc(50% - 10px);}
  

  .catalog__sortlist {margin-bottom: 32px; width: 412px;}
  .catalog__sortlist-select {font-size: 18px;}
  .catalog__sortlist-select-options {font-size: 16px;}

  .catalog__list {margin-top: 0px;}
  .catalog__list-items {grid-template-columns: repeat(4, calc(25% - 15px)); gap: 20px;}

  .product__content-date {margin-bottom: 24px;}
  .product__content-info {flex-direction: row; justify-content: space-between;}
  .product__content-media {width: 40%; max-width: 524px;}
  .product__content-descr {width: 50%; max-width: 634px;}
  .product__content-media {padding: 0px;}
  .product__content-descr {gap: 44px;}
  .product-price {font-size: 36px; letter-spacing: 0.01%; line-height: 1;}
  .product-price .gray-zag {font-weight: 600; font-size: 18px; margin-bottom: 9px;}
  .product__content-descr {font-size: 20px;}
  .productCard-order-button {padding: 21px 0;}

  .hystmodal__window {padding: 32px 48px;}
  .hystmodal__close {top: 32px; right: 48px;}
  .modal-form-title {font-size: 26px; font-weight: 700;}
  .modal-form-inputs {gap: 12px;}
  .white_button.modal-form-resetbutton {color: var(--color-text-light-gray);}

  .page__descr {font-size: 18px; margin-bottom: 48px;}
  fieldset {padding: 48px 0; gap: 32px;}
  .form-add-option-button {width: auto; padding: 16px; text-transform: none;}
  .form-actions {padding-top: 32px;}
  .form-actions-wrapper {display: inline-flex; gap: 16px; flex-direction: row;}
  .form-cancelbutton {color: var(--color-text-light-gray);}
}

@media only screen and (min-width: 1024px) {
  .productCard {padding: 24px; gap: 24px;}
  .productCard-media {max-height: 277px;}
  .productCard-name {font-size: 20px;}
  .productCard-price {font-size: 20px;}
  .productCard-date {margin-bottom: 24px;}
  .productCard-edit {font-weight: 700; font-size: 18px;}
}

@media only screen and (min-width: 1360px) {
  .header__buttons,
  .header__burger {display: none;}
  .header__menu {display: flex;}
  .header__menu_blocks > div,
  nav,
  .header__menu_buttons {padding: 0px;}
  .header__menu_top,
  .header__menu_buttons span {display: none;}
  .header__menu {flex-direction: row; min-height: auto; position: inherit; align-items: center; justify-content: space-between;}
  .header__menu_blocks {display: flex; align-items: center;}
  .header__menu_buttons,
  .header__menu_buttons button {padding-right: 0px; background: transparent;}
  .header__menu_actions {column-gap: min(1vw, 23px);}
  .header-white-menu {background-color: transparent;}
  .header-white-menu .header__menu_actions_call svg path {fill: var(--color-white);}
  .header-white-menu .header__menu_buttons svg path {stroke: var(--color-white);}

  .simpleview {display: flex;}
  .simpleview .menu-item {white-space: nowrap; padding-right: min(1vw, 23px);}
  .header__container_language.simpleview {display: block;}
  .header__container_language.simpleview .header__language_list {padding: 0;}
  .header-white-menu .menu-item {opacity: 0.9; color: var(--color-white); transition: 0.2s;}
  .header-white-menu .menu-item:hover {color: var(--color-white);opacity: 1;}

  .catalog__filter-block {width: calc(25% - 15px);}

  .product__content-media {height: 524px;}
  .product__content-media img {max-height: 524px;}
  .product-actions {column-gap: 16px; justify-content: space-between;}
  .share_button {display: flex; align-items: center; gap: 7px; order: 2;}
  .share_button span {display: inline; color: var(--color-text-indigo); font-size: 14px;}
  .product-button-send {width: auto; order: 0; flex-grow: 1;}
  .product-button-write {width: auto; order: 1; flex-grow: 4;}

}